.add-list {
  &__popup {
    width: 240px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    position: relative;
    top: -25px;
    right: -10px;

    &-close-btn {
      position: absolute;
      top: -10px;
      right: -10px;
      border: 1px solid #5C5C5C;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #5C5C5C;
      color: rgb(255, 255, 255);
      cursor: pointer;
    }

    .button {
      width: 100%;
      margin-top: 15px;
    }

    &-colors {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      .badge {
        width: 20px;
        height: 20px;
        position: static;
        cursor: pointer;

        &.active {
          border: 2px solid grey;
        }
      }
    }
  }
}